/* Padrão */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #0F1724;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px
}

.fotoHeader {
  width: 220px;
}

.animatioHeader {
  transform: translateY(300px);
  opacity: -1;
}

.textsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.textsHeader h1 {
  font-size: 57px;
  font-weight: 600;
  color: #01DFB2;
  letter-spacing: 1.3px;
}

.textsHeader h1 span {
  color: #FFFF;
}

.textsHeader p {
  font-size: 19px;
  margin-top: 10px;
  color: #868686;
}


.btnHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F1724;
  border: none;
  border: solid 2px #0CA3B8;
  border-radius: 15px;
  color: #FFFF;
  font-size: 17px;
  font-weight: 200;
  cursor: pointer;
  padding: 25px 60px;
}

.btnHeader:hover {
  background-color: #0CA3B8;
  border: none;
  border: solid 2px #0CA3B8;
  border-radius: 15px;
  color: #FFFF;
}

.btnHeader img {
  width: 25px;
  margin-right: 20px;
}

.fotoHeader,
.textsHeader,
.btnHeader {
  margin-top: 40px;
}

@media (max-width: 650px) {
  .fotoHeader {
    width: 130px;
  }

  .textsHeader h1 {
    font-size: 31px;
    letter-spacing: 1px;
  }

  .textsHeader h1 span {
    color: #FFFF;
  }

  .textsHeader p {
    font-size: 11px;
    margin-top: 10px;
    color: #868686;
  }

  .btnHeader {
    color: #FFFF;
    font-size: 10px;
    font-weight: 200;

    padding: 20px 30px;
  }

  .btnHeader img {
    width: 20px;
    margin-right: 20px;
  }
}

/* Projetos :D */

#projetos {
  background-color: #181F32;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 100px 0px;
  min-height: 100vh;
  border-top: solid 1px #243755;
  border-bottom: solid 1px #243755;
  transform: translateY(300px);
}

.sectionTituloProjetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.tituloProjetos {
  color: #FFFF;
  font-size: 58px;
  text-align: center;
}

.linhaTituloProjetos {
  width: 167px;
  height: 6px;
  background-color: #01DFB2;
}

@media (max-width: 1100px) {
  .tituloProjetos {
    color: #FFFF;
    font-size: 10vw;
    text-align: center;
  }

  .linhaTituloProjetos {
    width: 30vw;
    height: 6px;
    background-color: #01DFB2;
  }

  .sectionTituloProjetos {
    margin-bottom: 0px;
  }

  #projetos {
    padding: 50px 0px;
  }
}

/* Sobre mim */

.sectionSobre {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
}


.sobreTitulos {
  position: sticky;
  top: 95px;
  background-color: #0F1724;
  width: 100%;
  padding: 20px 0px;
}

.sobreFoto {
  width: 450px;
  position: sticky;
  top: 100px
}

.sobreInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  color: #FFFF;
  margin-left: 60px;
  width: 500px;
}

.sobreCards {
  margin-top: 48px;
}

.sobreTitulo {
  color: #01DFB2;
  font-size: 50px;
}

.sobreCardsTitulo {
  font-size: 40px;
}

.sobreCardsDescricao {
  color: #A9A9A9;
}


@media (max-width: 1100px) {

  .sectionSobre {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
  }

  .sobreFoto {
    width: 450px;
    position: relative;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sobreTitulos {
    position: relative;
  }

  .sobreInfo {
    margin-left: 0px;
  }

}

@media (max-width: 650px){
  .sobreInfo {
    padding: 20px 20px;
    width: 100%;
  }

  .sobreInfo {
    width: 100%;
  }

  .a{
    margin-top: 130px;
  }

  .sobreFoto{
    width: 90%;
  }
  
  .sobreTitulo {
    color: #01DFB2;
    font-size: 31px;
  }

  .sobreCardsTitulo {
    font-size: 31px;
    padding: 0 20px;
  }

  .sobreCardsDescricao{
    font-size: 11px;
    padding: 0 20px;
  }
}


  /* CTA final */

  .ctaFinal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px 0px
  }

  .ctaFinalText {
    color: #FFF;
    font-size: 50px;
  }

  .ctaFinalText span {
    color: #01DFB2;
  }

  .ctaFinalBtn {
    width: 451px;
    height: 84px;
    font-size: 17px;
    font-weight: 600;
    color: #FFFF;
    background-color: #0CA3B8;
    border: none;
    border-radius: 15px;
    margin-top: 40px;
    cursor: pointer;
  }

  .ctaFinalBtn:hover {
    background-color: #0fcce6;
  }

  .ctaFinalBtn img {
    width: 22px;
    margin-left: 10px;
  }


  @media (max-width: 650px){
    .ctaFinalText {
      font-size: 30px;
    }

    .ctaFinalBtn {
      width: 260px;
      height: 70px;
      font-size: 13px; 
      margin-top: 30px;
    }
    .ctaFinal{
      margin: 100px 0px;
    }
  }
  

  /* Footer */

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 0px;
    margin-top: 150px;
    border-top: solid 1px #243755;
  }

  .logoFooter {
    margin-right: 40px;
  }

  .iconsFooter a {
    padding: 0;
  }


  .iconsFooter img {
    width: 30px;
    padding: 0px 7px;
  }

  @media (max-width: 650px){
    footer{
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .logoFooter {
      margin-right: 0px;
      margin-top: 40px;
      scale: 1.3;
    }
  }