/* Padrão */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: "DM Sans", sans-serif;
  background-color: #0F1724;
}

* {
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px
}

.fotoHeader {
  width: 220px;
}

.textsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.textsHeader h1 {
  font-size: 57px;
  font-weight: 600;
  color: #01DFB2;
  letter-spacing: 1.3px;
}

.textsHeader h1 span {
  color: #FFFF;
}

.textsHeader p {
  font-size: 19px;
  margin-top: 10px;
  color: #868686;
}


.btnHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F1724;
  border: none;
  border: solid 2px #0CA3B8;
  border-radius: 15px;
  color: #FFFF;
  font-size: 17px;
  font-weight: 200;

  padding: 25px 60px;
}

.btnHeader:hover{
  background-color: #0CA3B8;
  border: none;
  border: solid 2px #0CA3B8;
  border-radius: 15px;
  color: #FFFF;
}

.btnHeader img {
  width: 25px;
  margin-right: 20px;
}

.fotoHeader,
.textsHeader,
.btnHeader {
  margin-top: 40px;
}

@media (max-width: 650px) {
  .fotoHeader {
    width: 130px;
  }

  .textsHeader h1 {
    font-size: 31px;
    letter-spacing: 1px;
  }
  
  .textsHeader h1 span {
    color: #FFFF;
  }
  
  .textsHeader p {
    font-size: 11px;
    margin-top: 10px;
    color: #868686;
  }

  .btnHeader {
    color: #FFFF;
    font-size: 10px;
    font-weight: 200;
  
    padding: 20px 30px;
  }
  
  .btnHeader img {
    width: 20px;
    margin-right: 20px;
  }
}

/* Projetos :D */

#projetos{
  background-color: #181F32;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 100px 0px;
  min-height: 100vh;
  border-top: solid 1px #243755;
  border-bottom: solid 1px #243755;
}

.sectionTituloProjetos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.tituloProjetos{
  color: #FFFF;
  font-size: 58px;
  text-align: center;
}

.linhaTituloProjetos{
  width: 167px;
  height: 6px;
  background-color: #01DFB2;
}

@media (max-width: 1100px) {
  .tituloProjetos{
    color: #FFFF;
    font-size: 10vw;
    text-align: center;
  }
  
  .linhaTituloProjetos{
    width: 30vw;
    height: 6px;
    background-color: #01DFB2;
  }

  .sectionTituloProjetos{
    margin-bottom: 0px;
  }

  #projetos{
    padding: 50px 0px;
  }
}